# Analysze js bundle
ANALYZE=false

# Next Auth
NEXTAUTH_SECRET=XXX

GITHUB_ID=XXX
GITHUB_SECRET=XXX

# Databases
DATABASE_URL=postgresql://XXX
REDIS_URL=redis://localhost:6379
OPENAI_API_KEY=XXX
QDRANT_API_URL=XXX
QDRANT_API_KEY=XXX

# AWS S3
APP_AWS_ACCESS_KEY=XXX
APP_AWS_SECRET_KEY=XXX
APP_AWS_REGION=us-east-1
NEXT_PUBLIC_S3_BUCKET_NAME=XXX

NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3000

# Emails
EMAIL_SERVER="XXX"
EMAIL_FROM=XXX

# Crisp App
NEXT_PUBLIC_CRISP_PLUGIN_ID=XXX
CRISP_HOOK_SECRET=XXX
CRISP_TOKEN_ID=XXX
CRISP_TOKEN_KEY=XXX

# Slack App
NEXT_PUBLIC_SLACK_CLIENT_ID=XXX
SLACK_CLIENT_SECRET=XXX
SLACK_SIGNING_SECRET=XXX
SLACK_VERIFICATION_TOKEN=XXX

