# Analysze js bundle
ANALYZE=false

# Next Auth
NEXTAUTH_SECRET=XXX
NEXTAUTH_URL=http://localhost:3000

JWT_SECRET=b35a66447d4aba36969e5d6bcee9a5abf809b2efe7de9b3b1b7d84c4cf5509a8 # openssl rand -hex 32

# Services
OPENAI_API_KEY=XXX

# Databases
DATABASE_URL=postgresql://admin:password@localhost:5432/databerry
QDRANT_API_URL=http://127.0.0.1:6333 #not working with localhost
REDIS_URL=redis://localhost:6379
QDRANT_API_KEY=password

# CHROMIUM is needed for puppeteer (WebSite loader)
# for macos local dev
# brew install chromium --no-quarantine
CHROMIUM_PATH=/Applications/Chromium.app/Contents/MacOS/Chromium # OR /opt/homebrew/bin/chromium

# endpoint of the remote browser
BROWSER_API=http://localhost:3000/api/browser

# AWS S3
APP_AWS_ACCESS_KEY=root
APP_AWS_SECRET_KEY=password
NEXT_PUBLIC_S3_BUCKET_NAME=chaindesk
APP_AWS_S3_FORCE_PATH_STYLE=true # required for minio to work properly
NEXT_PUBLIC_AWS_ENDPOINT=http://localhost:9000/${NEXT_PUBLIC_S3_BUCKET_NAME}

INBOUND_EMAIL_DOMAIN=on.chaindesk.ai
INBOUND_EMAIL_BUCKET=${NEXT_PUBLIC_S3_BUCKET_NAME}
INBOUND_EMAIL_AWS_ACCESS_KEY=${APP_AWS_ACCESS_KEY}
INBOUND_EMAIL_AWS_SECRET_KEY=${APP_AWS_SECRET_KEY}
INBOUND_EMAIL_AWS_S3_ENDPOINT=${APP_AWS_S3_ENDPOINT}
INBOUND_EMAIL_APP_AWS_S3_FORCE_PATH_STYLE=${APP_AWS_S3_FORCE_PATH_STYLE}

NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3000

# Emails
EMAIL_SERVER=smtp://localhost:1025
EMAIL_FROM=dev@chaindesk.ai

# Auth Providers
GITHUB_ID=XXX
GITHUB_SECRET=XXX

GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX

# Crisp App
NEXT_PUBLIC_CRISP_PLUGIN_ID=XXX
CRISP_HOOK_SECRET=XXX
CRISP_TOKEN_ID=XXX
CRISP_TOKEN_KEY=XXX

# Slack App
NEXT_PUBLIC_SLACK_CLIENT_ID=XXX
SLACK_CLIENT_SECRET=XXX
SLACK_SIGNING_SECRET=XXX
SLACK_VERIFICATION_TOKEN=XXX

# Notion
NOTION_CLIENT_ID= XXXXX
NOTION_CLIENT_SECRET= XXXXXX

# Crisp 
CRISP_WEBSITE_ID= XXXXXX

# Shopify
SHOPIFY_API_KEY=XXXXXXXX
SHOPIFY_API_SECRET_KEY=XXXXXX
SHOPIFY_HOST_NAME=XXXXXX