# fly.toml file generated for databerry on 2023-04-05T19:24:27+02:00

app = "databerry"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "fra"


[processes]
web = "node apps/dashboard/server.js"
# https://nodejs.org/api/cli.html#--max-old-space-sizesize-in-megabytes
worker = "node --max-old-space-size=1536 apps/dashboard/.next/server/datasource-loader.js"
# cron = "supercronic crontab"

[build]
  [build.args]
    NEXT_PUBLIC_S3_BUCKET_NAME = "chaindesk-prod"
    NEXT_PUBLIC_AWS_ENDPOINT = "https://s3.chaindesk.ai"
    NEXT_PUBLIC_DASHBOARD_URL = "https://app.chaindesk.ai"
    NEXT_PUBLIC_SLACK_CLIENT_ID="15098575894.5085094124864"
    NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_51MsM5yIDmvRZDzsDzI5S7mTun6KE8Q1jVZf0yBRsvQldW4fGyWve1dpwVDt1yDV9DUQOK5fB1kSqScnThDfckrEd008M2OEgFp"
    NEXT_PUBLIC_STRIPE_PAYMENT_LINK_LEVEL_1="https://buy.stripe.com/4gw17tegmdAp04UcMM"
    NEXT_PUBLIC_STRIPE_PRICING_TABLE_ID="prctbl_1N7Hu2IDmvRZDzsDlOYpGt04"
    NEXT_PUBLIC_CRISP_PLUGIN_ID="a52b874e-489f-40f1-a00a-1b1f4bdad545"
    NEXT_PUBLIC_GA_ID="G-QTN3QP6PKB"
    NEXT_PUBLIC_HOTJAR_ID="3480619"
    NEXT_PUBLIC_FATHOM_SITE_ID="SAENWHQM"
    NEXT_PUBLIC_POSTHOG_KEY="phc_p3uvX6R1Fvcm67AunUsNpXK78DV5ePoTxGz7oun38sJ"
    NEXT_PUBLIC_POSTHOG_HOST="https://eu.posthog.com"
    NEXT_PUBLIC_MIXPANEL_TOKEN="94455b8b9fa77f7189a8a7f2cde402ea"
    NEXT_PUBLIC_FACEBOOK_PIXEL_ID="758575418708314"


[http_service]
  processes = ["web"]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  [http_service.concurrency]
    type = "connections"
    hard_limit = 550
    soft_limit = 500

[[services]]
  internal_port = 8080
  processes = ["worker"]
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running=6
  [[services.ports]]
    handlers = ["http"]
    port = 80
    # force_https = true  # optional

# [[services]]
#   # processes = ["app"]
#   processes = ["web"]
#   protocol = "tcp"
#   internal_port = 3000

#   [[services.ports]]
#     port = 80
#     handlers = ["http"]
#     force_https = true

#   [[services.ports]]
#     port = 443
#     handlers = ["tls", "http"]
#   [services.concurrency]
#     type = "connections"
#     hard_limit = 25
#     soft_limit = 20
