# Analysze js bundle
ANALYZE=false

# Next Auth
NEXTAUTH_SECRET=XXX

GITHUB_ID=XXX
GITHUB_SECRET=XXX

GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX


# Services
OPENAI_API_KEY=XXX

# Databases
DATABASE_URL=postgresql://${DBUSER}:${DBPASS}@pgdb:${DBPORT}/${DBNAME}
QDRANT_API_URL=http://qdrant:${QDRANT_PORT}
REDIS_URL=redis://redis:${REDIS_PORT}
## random secret
QDRANT_API_KEY=password

# AWS S3
APP_AWS_ACCESS_KEY=root
APP_AWS_SECRET_KEY=password
NEXT_PUBLIC_AWS_ENDPOINT=http://minio:${MINIO_PORT}
NEXT_PUBLIC_S3_BUCKET_NAME=databerry-dev

NEXT_TELEMETRY_DISABLED = 1

NEXT_PUBLIC_DASHBOARD_URL=http://base-api:3000

# Emails
EMAIL_SERVER=smtp://maildev:${MAILDEV_PORT}
EMAIL_FROM=noreply.dev@databerry.io

# Crisp App
NEXT_PUBLIC_CRISP_PLUGIN_ID=XXX
CRISP_HOOK_SECRET=XXX
CRISP_TOKEN_ID=XXX
CRISP_TOKEN_KEY=XXX

# Slack App
NEXT_PUBLIC_SLACK_CLIENT_ID=XXX
SLACK_CLIENT_SECRET=XXX
SLACK_SIGNING_SECRET=XXX
SLACK_VERIFICATION_TOKEN=XXX
