@tailwind base;
@tailwind components;
@tailwind utilities;

.popover-button {
  background: none;
  outline: none;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 99999;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
